SUPABASE_URL : https://htzicxauwacnsvhellhq.supabase.co

SUPABASE_KEY : sb_publishable_46sVWXrepoOqFQL44l5d0Q_zwV_u8Z0

Connection String: postgresql://postgres:[your-password]@db.htzicxauwacnsvhellhq.supabase.co:5432/postgres

PORT=8000
